body{

    background-image:url("../bg-intro-desktop.png");
   /* background-color: hsl(0, 100%, 74%);*/
    background-color:hsl(226.38deg 50.28% 22.1%);
}

.div1{

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 600px;
    justify-content: center;
}

.div2{
     display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin:50px;
    color: white;
}
.div3{
    background-color: white;
    height: 500px;
    width: 440px;
    border-radius: 10px;
}

.inp{
    height: 45px;
    width: 375px;
    margin-left:32.2px;
    margin-right:32.2px;
    margin-top: 23px;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    transition: 0.5s;
    outline: none;
    color: gray;
}
.btn1{
    height: 50px;
    width: 438px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #635ab3;
    color:white;
    border: none;
}
.btn2{
    height: 45px;
    width: 377px;
    margin-left:32.2px;
    margin-right:32.2px;
    margin-top: 30px;
    border-radius: 5px;
    border:none; 
    background-color: #68a968;
    color:white;
}
input[type=text]:focus {
  border: 3px solid #635ab3;
  
}
.span1 , .span2 ,.span3 , .span4 , .span5{
    color:red;
    padding-left: 38px;
    padding-top: 20px;
    display: none;
    
}
